*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 20px/24px 'Open Sans', sans-serif;;
}
.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(245, 245, 245);
}
.contacts{
  width: 40%;
  border-right: 2px solid rgb(231, 231, 231);
  background: white;
  &__title{
    color: rgb(113, 137, 208);
    margin: 25px 10px;
  }
  &__search_bar{
    background: rgb(245, 245, 245);
    height: 200px;
    padding: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__search_field{
    width: 100%;
    padding: 4px 10px;
    background: white;
    border-radius: 20px;
    border: 1px solid rgb(231, 231, 231);
    display: flex;
    align-items: center;
  }
  &__search_input{
    border: none;
    background: none;
    padding: 5px;
    width: 100%;
    outline-style: none;
  }
  &__list{
    background: white;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid rgb(231, 231, 231);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
  }
  &__photo_container{
    position: relative;
    &:after{
      position: absolute;
      display: block;
      content: url('images/icons/check.svg');
      width: 8px;
      height: 8px;
      bottom: 35px;
      right: 28px;
    }
  }
  &__photo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px;
  }
  &__text_area{
    display: flex;
    flex-direction: column;
    position: relative;

  }
  &__message{
    color: gray;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    height: 3.6em;
    &:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }

  }
  &__date{
    font-size: 16px;
  }
}
.chats{
  background: rgb(245, 245, 245);
  &__messages_area{
    background: rgb(255, 255, 255);
  }
  &__user_logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px 0 20px;
  }
  &__header{
    height: 100px;
    padding: 20px;
    background: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(231, 231, 231);
    display: flex;
    align-items: center;
  }
  &__messages_list{
    list-style: none;
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 20px;
  }
  &__message{
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 5px;
    display: flex;
    &_sent{
      background: lightgray;
      align-self: flex-end;
    }
    &_received{
      background: rgb(46, 50, 65);
      color: white;
      align-self: flex-start;
    }
  }
  &__message_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    &_received{
      align-self: flex-start;
    }
    &_sent{
      align-self: flex-end;
    }
    &_text_box{
      display: flex;
    }
    &_date{
      font-size: 12px;
      color: gray;
      font-style: italic;
      &_sent{
        align-self: flex-end;
        margin: 0 10px;
      }
      &_received{
        margin: 0 0 0 120px;
      }
    }

  }
}