* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 20px/24px "Open Sans", sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.contacts {
  width: 40%;
  border-right: 1px solid gray;
  background: rgb(255, 255, 255);
  position: relative;
}
.contacts__title {
  color: rgb(113, 137, 208);
  margin: 225px 10px 25px;
}
.contacts__search_bar {
  background: rgb(231, 231, 231);
  height: 200px;
  width: 40%;
  padding: 10px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
}
.contacts__search_field {
  width: 100%;
  padding: 4px 10px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
}
.contacts__search_input {
  border: none;
  background: none;
  padding: 5px;
  width: 100%;
  outline-style: none;
}
.contacts__search_button {
  background: none;
  border: none;
  cursor: pointer;
}
.contacts__list {
  background: rgb(255, 255, 255);
  height: 100vh;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: scroll;
  scroll-behavior: smooth;
}
.contacts__item {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}
.contacts__photo_container {
  width: 60px;
  height: 60px;
  margin: 20px;
  position: relative;
}
.contacts__photo_container:after {
  position: absolute;
  display: block;
  content: url("images/icons/check.svg");
  width: 8px;
  height: 8px;
  bottom: 20px;
  right: 0;
}
.contacts__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.contacts__text_area {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.contacts__message {
  color: rgb(128, 128, 128);
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}
.contacts__message:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 50%);
}
.contacts__date {
  font-size: 16px;
}

.chats {
  background: rgb(255, 255, 255);
  width: 60%;
  overflow: scroll;
  scroll-behavior: smooth;
}
.chats__messages_area {
  height: 100vh;
  position: relative;
}
.chats__send_block {
  background: rgb(231, 231, 231);
  border-top: 1px solid gray;
  padding: 30px;
  height: 140px;
  width: 60%;
  position: fixed;
  bottom: 0;
}
.chats__user_logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.chats__header {
  height: 100px;
  width: 100%;
  padding: 20px;
  background: rgb(231, 231, 231);
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  position: fixed;
}
.chats__messages_list {
  list-style: none;
  display: flex;
  margin: 0;
  flex-direction: column;
  padding: 120px 20px 110px;
}
.chats__message {
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
  padding: 20px 20px;
  white-space: pre-line;
}
.chats__message_sent {
  background: rgb(231, 231, 231);
  align-self: flex-end;
}
.chats__message_received {
  background: rgb(46, 50, 65);
  margin-left: 10px;
  color: white;
}
.chats__message_item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
.chats__message_item:last-child {
  margin-bottom: 30px;
}
.chats__message_item_sent {
  align-self: flex-end;
}
.chats__message_item_text_box {
  display: flex;
  flex-direction: column;
}
.chats__message_item_date {
  font-size: 12px;
  color: rgb(128, 128, 128);
  font-style: italic;
  margin: 5px 20px;
}
.chats__message_item_date_sent {
  align-self: flex-end;
}
.chats__send_input {
  width: 100%;
  display: flex;
  background: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px 10px;
}
.chats__send_input_field {
  border: none;
  width: 100%;
  outline: none;
  resize: none;
  font: 16px/24px "Open Sans", sans-serif;
}
.chats__send_button {
  background: none;
  cursor: pointer;
  border: none;
}

.message_notification_root {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
}

.message_notification_modal {
  padding: 20px;
  width: 400px;
  border-radius: 20px;
  background: rgb(231, 231, 231);
  border: 1px solid gray;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.message_notification_header {
  display: flex;
  align-items: center;
}

.contacts__message_notification:after {
  background: none;
}

.contacts__photo_notification {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.message_notification_btn {
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  transition: 500ms;
}
.message_notification_btn:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=index.css.map */
